<!--<script src="/view/public/assets/jquery/jquery.min.js"></script>
<script src="/view/public/assets/jquery-cookie/jquery.cookie.js"></script>
<script src="/view/public/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/view/public/assets/nprogress/nprogress.js"></script>
<script src="/view/public/assets/artTemplate/template.js"></script>
<script src="/view/public/js/common.js"></script>-->
<!--将项目文件模块化-->
<!--引入模块化的js文件-->
<script src="/view/public/libs/require.js"></script>
<!--将模块化配置的地址统一放到config.js中-->
<script src="/view/public/libs/config.js"></script>